/* ベーススタイル */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
	text-align: center;
}

/* ヘッダー */
h1 {
    color: #2d3748;
    margin-bottom: 20px;
}

h2 {
    color: #4a5568;
    margin-top: 20px;
}

/* 入力フォーム */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #2d3748;
}

/* #paldeaHoursInput {
    padding: 10px;
    font-size: 40px;
    border: 1px solid #cbd5e0;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80px;
	display: block;
} */
/* 入力欄のスタイル */
#paldeaTimeInput {
    padding: 10px;
    font-size: 40px; /* 文字を大きくする */
    border: 1px solid #cbd5e0;
    border-radius: 5px;
    /* margin-bottom: 10px; */
    width: 200px;
	text-align: center;
	/* margin: 0 auto;  左右のマージンを自動で設定して中央に */
	display: block;
	margin-bottom: 20px;
}
.time-inputs {
	display: flex;        /* フレックスボックスで横並びにする */
	align-items: center;  /* 縦方向に中央揃え */
	gap: 10px;            /* 入力欄とテキストの間に少しスペースを追加 */
  }
  
  /* 入力欄のサイズを大きくする */
  .time-inputs input {
	width: 100px;         /* 入力欄の幅を100pxに変更 */
	height: 40px;         /* 入力欄の高さを40pxに変更 */
	font-size: 40px;      /* フォントサイズを大きく */
	padding: 10px;        /* 内側に10pxの余白を追加 */
	text-align: center;
	border: 1px solid #cbd5e0;
    border-radius: 5px;
  }
  
#calculateButton, #systemTimeButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3182ce;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
	margin-top: 20px;  
    margin-bottom: 10px;
}

#calculateButton:hover {
    background-color: #2b6cb0;
}

/* 表示部分 */
p {
    background: #edf2f7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cbd5e0;
    width: 200px;
    text-align: center;
    font-size: 40px;
    margin: 5px 0;
}

/* レスポンシブ対応 */
@media (max-width: 600px) {
    #paldeaTimeInput, #calculateButton, p {
        width: 100%;
        /* font-size: 16px; */
    }
}
